.input-field-password-regist-1{
    display: block;
    width: 95%; /* Responsif */
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid gray; /* Default border */
    transition: border-color 0.3s ease;
    outline: none;
  }
  
  .label-password {
    color: grey;
    font-size: 20px;
  }
  
  
  .input-empty {
    border-color: gray;
  }
  
  .input-valid {
    border-color: #FFBE06;
  }
  
  .input-invalid {
    border-color: #F36060;
  }