.input-sekolah {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    max-width: 525px;
  }
  
  .label-school {
    color: grey;
    font-size: 20px;
    font-weight: 500;
}