.input-field-email-regist {
    display: block;
    width: 95%; /* Agar responsif */
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid gray; /* Default border color */
    transition: border-color 0.3s ease;
    outline: none;
}

/* Warna label */
.label-email {
    color: grey;
    font-size: 20px;
    font-weight: 500;
}

/* Jika input kosong */
.input-empty {
    border-color: gray;
}

/* Jika email valid */
.input-valid {
    border-color: #FFBE06; /* Warna kuning */
}

/* Jika email tidak valid */
.input-invalid {
    border-color: #F36060; /* Warna merah */
}
