/* src/components/Leaderboard.css */
.leaderboard {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 60px; /* Adjust based on the height of the timer */
  right: 10px; /* Adjust as needed for desired spacing from the right edge */
}

.leaderboard h2 {
  text-align: center;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.leaderboard li:last-child {
  border-bottom: none;
}

