.photo-container {
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
  max-width: 75%; /* Maksimum lebar container sesuai lebar layar */
  margin: 10% auto 0; /* Meletakkan container di tengah dan memberikan jarak atas */
}

.photo {
  width: 75%; /* Lebar foto mengikuti lebar container */
  height: auto; /* Menyesuaikan tinggi sesuai rasio aspek foto */
  max-width: 100%; /* Hindari foto melebihi lebar container */
}

@media screen and (min-width: 360px) and (max-width: 500px) {
  .photo-container {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    max-width: 75%; /* Maksimum lebar container sesuai lebar layar */
    margin: 40% auto 0; /* Meletakkan container di tengah dan memberikan jarak atas */
  }

  .photo {
    width: 100%; /* Lebar foto mengikuti lebar container */
    height: auto; /* Menyesuaikan tinggi sesuai rasio aspek foto */
    max-width: 100%; /* Hindari foto melebihi lebar container */
  }

}

@media screen and (min-width: 0px) and (max-width: 0px) {
  .photo-container {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    max-width: 75%; /* Maksimum lebar container sesuai lebar layar */
    margin: 40% auto 0; /* Meletakkan container di tengah dan memberikan jarak atas */
  }
}